<!-- Main Content -->
<div class="row">
  <div class="col-md-8">
    <h2>About Me<br><small style="font-size:80%; display: inline-block">I'm a full stack developer who loves to tackle hard problems.</small></h2>
    <p>
      Currently, I'm working in Big Data Department of Rakuten Inc. (Japan's biggest online shopping mall). Our team is developing Rakuten's global search platform and I was working as a search engine administrator + being a bit of devops deploying and scaling our search service which leveraging the search performance of serveral services in Japan and its partners in many countries all over the world such as Spain, Malaysia, Indonesia, UK (Play.com), and many more...
    </p>
    <p>
      From Oct 2013, I joined another interesting project called "OS Provisioning". Basically, it's all about making the best new infrastructure to boost up the speed and quality of all development in our Big Data Department. I am the main developer in the project.
    </p>
    <p>
      I have also joined and won many exciting competitions in many places around the world. Within 2014, I joined and won <a href="http://photohackday.org/">Photo Hack Day Japan</a> by making <a href="http://timetravel-gettyimages.jp/">TimeTravel</a> webapp. Another interesting event is <a href="http://tokyo2.startupweekend.org/">Startup Weekend</a> which I got the 1st prize from the "MommySitter" project.
    </p>
    <p>
      Aside from work and competitions, I’m enthusiasm in cutting-edge web technology and robotics. I love coding and like tackling challenging problems. I always believes “Dream is the great power that drive us to success.” Making living robot and connect it to the Internet world is one of my greatest dream and I won’t stop my way of life until I can make it into reality!
    </p>
  </div>
  <div class="col-md-4"><img class="img-responsive img-thumbnail" data-src="holder.js/300x200" src="assets/images/my_pic.JPG" ></div>

</div>
