<!-- Main Content -->
<div class="row">
  <div class="col-md-8">
    <h2>About Me<br><small style="font-size:80%; display: inline-block">I'm a full stack developer who loves to tackle hard problems.</small></h2>
    <p>
Currently, I'm working in Big Data Department of Rakuten Inc. (Japan's biggest online shopping mall). I am currently working as a main developer building our Private Cloud or what we call "OS Provisioning Project". Basically, it's all about making the best new infrastructure to boost up the speed and quality of all development in our Big Data Department.
    </p>
    <p>
As in the current project, I have designed, developed, and maintained whole system and architecture myself. This has given me a chance to gain vast experiences in many different programming languages and areas from DevOps, Backend til Frontend development.
</p>
    <p>
I do also have experienced working in an International team across the globe ( Europe, US, and Japan locations ). In Aug 2014, I have been to Paris to deploy and work closely with Eurpoe team to deploy my development solution which will soon leverage a performance and speed of EU infrastructure.
    </p>
    <p>
      I have also joined and won many exciting competitions in many places around the world. Within 2014, I joined and won <a href="http://photohackday.org/">Photo Hack Day Japan</a> by making <a href="http://timetravel-gettyimages.jp/">TimeTravel</a> webapp. Another interesting event is <a href="http://tokyo2.startupweekend.org/">Startup Weekend</a> which I got the 1st prize from the "MommySitter" project.
    </p>
    <p>
      Aside from work and competitions, I’m enthusiasm in cutting-edge web technology and robotics. I love coding and like tackling challenging problems. I always believes “Dream is the great power that drive us to success.” Making living robot and connect it to the Internet world is one of my greatest dream and I won’t stop my way of life until I can make it into reality!
    </p>
  </div>
  <div class="col-md-4"><img class="img-responsive img-thumbnail" data-src="holder.js/300x200" src="assets/images/my_pic.JPG" ></div>

</div>
