<div class="row">
  <div class="col-md-4"><a href="#" class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/1st_place.jpg"></a></div>
  <div class="col-md-4"><a href="#" class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/OSCON.jpg"></a></div>
  <div class="col-md-4"><a href="#" class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/2nd_place.jpg"></a></div>
</div>
<div class="row">
    <div class="col-md-4"><a href="#" class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/NSC.jpg"></a></div>
    <div class="col-md-4"><a href="#" class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/water_polo.jpg"></a></div>
    <div class="col-md-4"><a href="#" class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/nerd_mode.jpg"></a></div>
</div>
<div class="row">
    <div class="col-md-2"><a href="#" class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/robot_toy.jpg"></a></div>
    <div class="col-md-2"><a href="#" class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/piggy_drawing.jpg"></a></div>
    <div class="col-md-4"><a href="#" class="thumbnail"><img style="width:300px; height:190px;" src="assets/images/photos/NSC2.jpg"></a></div>
    <div class="col-md-2"><a href="#" class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/research_robot.jpg"></a></div>
    <div class="col-md-2"><a href="#" class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/graduation.jpg"></a></div>
</div>
