<div class="row">
  <div class="col-md-4"><a  class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/1st_place.jpg"></a></div>
  <div class="col-md-4"><a  class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/OSCON.jpg"></a></div>
  <div class="col-md-4"><a  class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/2nd_place.jpg"></a></div>
</div>
<div class="row">
    <div class="col-md-2"><a  class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/Rob_Pike_Golang_Creator.jpg" alt="Rob Pike! The creator of Golang"></a></div>
    <div class="col-md-2"><a  class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/Nathan_Docker.jpg" alt="Nathan from Docker!" /></a></div>
    <div class="col-md-4"><a  class="thumbnail"><img style="width:300px; height:190px;" src="assets/images/photos/Larry_Wall_Perl_Creator.jpg"></a></div>
    <div class="col-md-2"><a  class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/tom_fifield_openstack.jpg"></a></div>
    <div class="col-md-2"><a  class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/Phil_Dibowitz_FB_Chef.jpg"></a></div>
</div><div class="row">
    <div class="col-md-4"><a  class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/NSC.jpg"></a></div>
    <div class="col-md-4"><a  class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/water_polo.jpg"></a></div>
    <div class="col-md-4"><a  class="thumbnail"><img data-src="holder.js/300x200" style="height:200px;" src="assets/images/photos/nerd_mode.jpg"></a></div>
</div>
<div class="row">
    <div class="col-md-2"><a  class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/robot_toy.jpg"></a></div>
    <div class="col-md-2"><a  class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/piggy_drawing.jpg"></a></div>
    <div class="col-md-4"><a  class="thumbnail"><img style="width:300px; height:190px;" src="assets/images/photos/NSC2.jpg"></a></div>
    <div class="col-md-2"><a  class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/research_robot.jpg"></a></div>
    <div class="col-md-2"><a  class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/graduation.jpg"></a></div>
</div>
<div class="row">
    <div class="col-md-4"><a  class="thumbnail"><img style="width:300px; height:190px;" src="assets/images/photos/MommySitterTeam.jpg"></a></div>
    <div class="col-md-4"><a  class="thumbnail"><img style="width:300px; height:190px;" src="assets/images/photos/randall_perl.jpg"></a></div>
    <div class="col-md-2"><a  class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/Sticker_OSCON.jpg"></a></div>
    <div class="col-md-2"><a  class="thumbnail"><img style="width:150px; height:190px;" src="assets/images/photos/Gopher.jpg"></a></div>
</div>

