<div class="row">
  <div class="col-md-12">
    <!-- Project 1 -->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/images/plasma-z1.png" data-src="holder.js/300x200" style="width:300px; height:200px;" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <h2>Plasma-Z</h2>
        In 2007 and 2008, I joined <a href="http://www.robocup.org/">World Robocup Competition</a> in Atlanta, USA and Zushou, China. My team members and I designed and built small-size soccer robots which are incredibly strong, fast and have an incredible kicking power. Plusing with a very fast image processing system and AI's soccer strategy, we were reaching the World 2nd place in 2007 (USA) and became the 1st place in 2008 (China).
        <br>
        <strong>Publication: </strong><a href="assets/others/the_design_of_embedded_systems_for_plasmaz.pdf">The design of embedded systems for RoboCup Soccer Team : Plasma-Z</a>, <a href="assets/others/plasma-z_2008_team_description.pdf">Plasma-Z 2008 Team Description</a>
        <br>
        <strong>Video: </strong> <a href="http://www.youtube.com/watch?v=TcEjOKPctEY">Plasma-Z @ World Robocup 2008</a>
      </div>
    </div>
    <hr>
    <!-- Project Special -->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/images/timetravel.png" data-src="holder.js/300x200" style="width:300px; height:200px;" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <h2>TimeTravel</h2>
        Time Travel is an amazing web app that takes you back in time to see photos of your search topics and interests. You can use it to explore historical events and see its evolution through time. Moreover with the power of the Leap Motion Controller, it enhances the user experience and lets you really feel like walking through a time space.
        <br>
        <strong>site: </strong><a href="http://timetravel-gettyimages.jp/">TimeTravel</a><br>
        <strong>github: </strong><a href="github.com/boonmeelab/timetravel">boonmeelab/timetravel</a><br>
        <strong>appstore: </strong><a href="https://airspace.leapmotion.com/apps/time-travel/weblink">airspace</a><br>
        <strong>news: </strong><a href="http://thebridge.jp/en/2014/02/back-to-the-future">the bridge</a>, <a href="http://blog.aviary.com/posts/photo-hack-day-japan-recap">aviary</a>, <a href="https://www.leapmotion.com/blog/how-japan-inspires-great-apps-and-musical-experiments/?utm_source=Leap+Motion+Newsletter&utm_campaign=250e9dd8c4-Consumer_Newsletter_34&utm_medium=email&utm_term=0_f0a6fbd89e-250e9dd8c4-64478197">leap motion</a>, <a href="https://www.youtube.com/watch?v=1uL--BsBoWA">event video</a>
      </div>
    </div>
    <hr>
    <!-- Project 2 -->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/images/pineapple1.png" data-src="holder.js/300x200" style="width:300px; height:200px;" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <h2>PineApple</h2>
        PineApple is a video stiching software which goals are to get the video panorama with very low-cost home webcams.
        The software earned the second place at National Software Contest 2009 in Thailand.
        As for future plan, I want to improve the image processing part to be able to realize the real-time image stiching.
        <br>
        <strong>github: </strong><a href="https://github.com/parnurzeal/pineapple">parnurzeal/PineApple</a>
      </div>
    </div>
    <hr>
    <!-- Project 3-->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/images/iClouds_process.png" data-src="holder.js/300x200" style="width:300px; height:200px;" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <h2>iClouds</h2>
        iClouds is an app that take you to the world of imagination. You use it to find the idea on the sky. When we looks into the cloud, different people has different views of the clouds. iClouds is just like one of your friend who helps to point out how that cloud looks like letting your imagination running wild. It used a clever image processing process comparing cloud and image.<br>
        iClouds is your true friend who helps you do imagination on the Clouds.
        <br>
        <strong>github: </strong><a href="https://github.com/parnurzeal/iClouds">parnurzeal/iClouds</a>
        <br>
        <strong>Video: </strong><a href="http://youtu.be/lTW8zMAybbo">Demo</a>
      </div>
    </div>
  </div>
</div>
