<div class="row">
  <div class="col-md-12">
    <a href="assets/files/resume.pdf"><button class="btn btn-danger pull-right">Export Short Resume...</button></a>
    <h3>Education</h3>
    <ul>
      <li><strong>2009-2012 The University of Tokyo, Tokyo, Japan</strong><br>
        Master of Engineering in Precision Engineering (Mobile Robotics Lab.), GPA 3.87/4.00</li>
        <li><strong>2005-2009   Chulalongkorn University, Bangkok, Thailand</strong><br>
          Bachelor of Engineering in Computer Engineering<br>
          First-class honours, GPA 3.61/4.00</li>
          <li><strong>2002-2004 Triam Udom Suksa School, Bangkok, Thailand</strong><br>
            Diploma of High School Completion
            Major: Science-Mathematics, Minor: Computer, GPA 3.93/4.00</li>
          </ul>
          <h3>Professional Experiences</h3>
          <ul>
            <li>
              <strong>2012-Current  Big Data Department, Rakuten, Inc.</strong><br>
              <h5>Search Engine Administrator</h5>
              <ul>
                <li>Deployed and migrated our in-house global search platform for 12 services in Japan and many countries all over the world such as UK (Play.com), Spain, Malaysia, Indonesia and yet more to come</li>
                <li>Administrated on many clusters ( > 1,000 nodes ) including with many open sources components such as Hadoop, Zookeeper, Cassandra and Solr</li>
                <li>Help troubleshooting performance bottleneck for Java Heap and GC which resulted in increasing a maximum search performance by 400%</li>
                <li>Implemented easy lightweight log collection tool using bash script specific for an in-house autotest tool</li>
              </ul>
              <h5>Infrastructure developer</h5>
              <ul>
                <li>Introduced Chef-server which is estimated to reduce man-hour by ~80% of all operations</li>
                <li>Developing server inventory system and designing system workflow to automate infrastructure system (my parts including with an inventory API for server pools, Chef and Log monitoring system)</li>
              </ul>
            </li>
            <li>
              <strong>2007-2008 Engineering Innovator Club, Chulalongkorn University</strong><br>
              <h5>Club President</h5>
              <ul>
                <li>Made sponsor finding team, created organizer website (PHP & SQL) and proposed robot project plans to many organizations which leads to sponsor funds of total 1.2 million baht</li>
                <li>Created sponsor organizer website and database for cooperation among sponsor finder team</li>
                <li>Organized robotics boot camps for new generations in university ( > 100 engineers)</li>
              </ul>
              <h5>Robocup Soccer Team Leader</h5>
              <ul>
                <li>Led team of 16 members to win 1st place in World Robocup Championship, Suzhou, China, 2008</li>
                <li>Managed team of different roles and backgrounds composed of mechanical, electrical and computer engineers</li>
                <li>Delegated responsibilities among members, led team in implementation, and communication between different roles</li>
                <li>Developed firmware and embedded system as a main processer on soccer robots (FPGA/Verilog)</li>
                <li>Created ball-kicker power tuner application (C#) for AI in robot soccer which resulted in maximizing and stabilizing kick power at world competitions</li>
                <li>Presented oral paper of robot system in International Conference on Embedded Systems and Intelligent Technology 2009 (ICESIT2009)</li>
              </ul>
            </li>
            <li>
              <strong>April 2008  PC Game Developer Internship, PROMTNOW Co., Ltd.</strong><br>
              <h5>PC Game Developer Interns</h5>
              <ul>
                <li>Took main part in PC game programming</li>
                <li>Communicated with other departments to design PC game system and user interface</li>
              </ul>
            </li>
          </ul>
          <h3>Selected Skills and Abilities</h3>
          <ul>
            <li>Operating System: Windows, Linux(CentOS), Unix(MacOSX)</li>
            <li>SDK & Library: Chef, Sails.js, Angular.js, Qt SDK, OpenCV, ROS, MRPT</li>
            <li>Programming: C/C++, Java, C#, HTML/CSS/JavaScript, Ruby, Python, Node.js, Verilog(FPGA)</li>
            <li>Language: Thai(native), English (TOEIC 985), Japanese</li>
          </ul>
          <h3>Activities</h3>
          <ul>
            <li>School’s Computer Club</li>
            <li>University’s Engineer Innovator Club</li>
            <li>University’s Water Polo Club</li>
          </ul>
          <h3>Selected Honors and Awards</h3>
          <ul>
            <li>1st prize, International Startup Weekend Tokyo, 2014</li>
            <li>1st prize, Photo Hack Day Japan, 2014</li>
            <li>MEXT Scholarship 2009-2012</li>
            <li>2nd place, 11th National Software Contest (Open source software), Thailand, 2009</li>
            <li>1st place, World Robocup Championship, Suzhou, China, 2008</li>
            <li>2nd place, World Robocup Championship, Atlanta, Georgia, USA, 2007</li>
            <li>Bronze Awards in Mobile Application, Samart Innovation Awards, 2007</li>
            <li>1st place, Thailand Robocup Championship, 2006</li>
            <li>Outstanding Academic Honor, Faculty of Engineering ,Chulalongkorn University, 2005-2006</li>
            <li>Received Sun Certified Programmer for the Java 2 Platform from Sun Microsystems, 2007</li>
            <li>1st place, Water Polo in Freshy Sports Day at Chulalongkorn University, 2005</li>
            <li>High Distinction Class, Chemical Quiz, Royal Australian chemical institute Certificate of merit, 2002</li>
            <li>1st place, IT Genius TV Program of Siam Cement Group, 2002</li>
            <li>1st place, Programming Competition at Huachiew Chalermprakiet University, 2001</li>
          </ul>
          <h3>Publications</h3>
          <ol>
            <li>T. Wattanavekin, et al, "PLASMA-Z 2008 Team Description Paper," RoboCup 2008 - Small Size League, 2008.</li>
            <li>T. Wattanavekin, et al, "Co-evolution of robots." (Senior Project)</li>
            <li>T. Wattanavekin, et al, "The design of embedded systems for RoboCup Soccer Team: Plasma-Z," Int. Conf. on Embedded Systems and Intelligent Technology, 2009.</li>
            <li>T. Wattanavekin, et al, "Exploration in a boundary environment with unknown obstacles using reaction-diffusion equation on a graph," Proc. IEEE Int. Conf. Robot. Biomimetics, 2011. </li>
            <li>T. Wattanavekin, et al, "Mobile Robot Exploration by Using Environmental Boundary Information," ISRN Robotics, vol. 2013, Article ID 954610, 11 pages, 2013.</li>
          </ol>
        </div>
      </div>
